<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CatGames</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/javascript.js" defer></script>
</head>

<body>
    <header class="header">
        <nav class="nav-bar">
            <div class="nav-bar-wrapper">
                <div class="nav-logo-wrapper">
                    <a href="#" class="nav-link"><i class="nav-logo"></i></a>
                    <a href="/wep-app" class="nav-link"><span class="nav-title">CatGames</span></a>
                </div>
                <div class="nav-menu-wrapper">
                    <a href="./queue" class="nav-link"><span class="nav-menu-item">Черга</span></a>
                    <a href="./operatormenu" class="nav-link"><span class="nav-menu-item">Меню операторів</span></a>
                    <a href="#" class="nav-link"><span class="nav-menu-item">😜</span></a>
                </div>
                <div class="menu-markup">
                    <div class="menu-button-wrapper">
                        <div class="menu-button"></div>
                    </div>
                    <div class="opened-menu">
                        <a href="#" class="opened-menu-link"><span class="opened-menu-item">Черга</span></a>
                        <a href="#" class="opened-menu-link"><span class="opened-menu-item">Меню операторів</span></a>
                        <a href="#" class="opened-menu-link"><span class="opened-menu-item">😜</span></a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="page-wrapper">
        <section class="registration-section">
            <div class="registration-form-wrapper">
                <div class="registration-form-image">
                    <img src="./img/boycat_c.png" alt="Lovely cat" id="main-img">
                    <span class="title-under-image">CatGames</span>
                </div>
                
                <div class="form-card">
                    <div class="form-wrapper-after">
                        <div class="form-title-after">
                            <h2>Заявка успішно відправлена!</h2>
                            <img src="./img/completed.png" id="img-reg">
                        </div>
                        <div class="form-description">
                            <p>Чекайте на відповідь на вашу електронну пошту, що ви вказали при реєстрації</p>
                        </div>
                        <div class="form-img-after">
                            <img src = "./img/img-after-reg.png" alt = "Love cat">
                        </div>
                    </div>
                </div>
             </div>
        </section>
    </div>
    
    <footer class="footer">
        <span class="footer-credentials">
            Copyright © 2022 CatGames. Всі права захищені.
        </span>
    </footer>
    
</body>
</html>